{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="{% static 'css/add.css' %}"> -->
    <title>Add</title>
</head>
<body>
    <div class="container">
        <div class="form">
            <h1>Register Today</h1>
            <p>Fill in the data below.</p>
            <form action="#" method="POST">
                {% csrf_token %}
                <div class="form-inputs">
                    <div class="fname">
                        <label for="fname">First Name</label>
                        <input type="text" name="fname" id="fname" placeholder="First Name" required>
                    </div>
                    <div class="lname">
                        <label for="lname">Last Name</label>
                        <input type="text" name="lname" id="lname" placeholder="Last Name" required>
                    </div>
                    <div class="department">
                        <label for="department">Department</label>
                        <input type="text" name="department" id="department" placeholder="Department" required>
                    </div>
                    <div class="salary">
                        <label class="block text-gray-700 text-sm" for="salary">Salary</label>
                        <input class="form-control" type="text" name="salary" id="salary" placeholder="Salary" required>
                    </div>
                    <div class="bonus">
                        <label for="bonus">Bonus</label>
                        <input type="text" name="bonus" id="bonus" placeholder="Bonus" required>
                    </div>
                    <div class="role">
                        <label for="role">Role</label>
                        <input type="text" name="role" id="role" placeholder="Role" required>
                    </div>
                    <div class="phone">
                        <label for="phone">Phone</label>
                        <input name="phone" id="phone" placeholder="Phone" required>
                    </div>
                </div>
                <div class="btn-primary">
                    <button class="btn-primary" type="submit">Register</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
